* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  line-height: 1.5;
  color: #342e49;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 15px;
}

.search-input {
  background-color: #f7f7f8;
  display: inline-flex;
  padding: 5px;
  border-radius: 500px;
  gap: 3px;
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.308);
}

::placeholder {
  opacity: 0.8;
}

input[type='text'] {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 230px;
  background-color: #f7f7f8;
}

.search-icon {
  width: 1.56rem;
  height: 1.56rem;
  opacity: 0.6;
}

.sidebar {
  background-image: linear-gradient(135deg, #2f3ea0f1, #ae332df1), url(../images/sidebar-bg.jpg);
  background-size: cover;
  position: sticky;
  top: 0;
  grid-row: 1 / 3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.sidebar-header {
  padding: 15px 10px;
  display: flex;
  align-items: center;
}

.sidebar-header-text {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  overflow: hidden;
}

.sidebar-header-text :first-child {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: normal;
}

.sidebar-header-text :last-child {
  margin-top: -0.31rem;
  font-size: 0.6rem;
  letter-spacing: 2px;
}

.sidebar-nav {
  flex: 1;
}

.sidebar-nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-nav a {
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 10px 30px 10px 15px;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar-icon {
  width: 1.56rem;
  height: 1.56rem;
  fill: white;
  opacity: 0.8;
  float: left;
  margin-right: 10px;
}

.sidebar-link-text {
  letter-spacing: 0.7px;
  font-size: 0.9rem;
}

main {
  background-color: #f7f7f8;
}
